<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Country</th>
    <th>Email</th>
    <th>Role</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.last_sign_in_ip %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.email %></td>
      <td><%= user.roles.pluck(:name).join(",") %></td>

      <td><%= link_to 'Show', user %></td>
      <td><%#= link_to 'Edit', edit_billing_path(billing) %></td>
      <td><%#= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @users %>