<!DOCTYPE html>
<html>
  <head>
    <title>Easy Rental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class='container'>
    <%= link_to('Easy Rental', root_path,:class=>'navbar-brand')%>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
     
         <%= render :partial => "layouts/nav_bar" %>
        <ul class="nav navbar-nav navbar-right">
        <% if current_user.present?%>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com"
             id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account (<%= current_user.roles.pluck(:name).join(",") %>)</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/dashboard">Dashboard</a>
               <%= link_to('Sign out', destroy_user_session_path, method: :delete,class: 'dropdown-item') %>    
            </div>
          </li>
        <% else %>
      <li class="nav-item"><a  class="nav-link" href="/users/sign_up">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="/users/sign_in">Sign In</a></li>
      <% end%>
    </ul>
      </div>
      
      </div>
    </nav>
    <div class='container'>
    <%= yield %>
    </div>
  </body>
</html>
